{% extends 'base2.html' %}
{% load crispy_forms_tags %}
{% block bg_hero %}
<div class="mb-50">
    <div class="hero__profile">
        <div class="tabs">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb default mb-0">
                    <li class="breadcrumb-item"><a href="{% url 'users' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit profile</li>
                </ol>
            </nav>
        </div>
        <div class="cover">
            
            {% if request.user.cover_photo %}
            <img src="{{request.user.cover_photo.url}}" alt="cover">
            {% else %}
            <img src="/static/assets/img/bg/cover.jpg" alt="cover">
                
            {% endif %}
                
        </div>
    </div>
</div>
{% endblock bg_hero %}

{% block content %}
<div class="container">
    <div class="mb-50">
        <!-- <h3 class="mb-30">Choice your Cover image</h3> -->
        <!-- <div class="row profile-img">
            <div class="col-6 col-md-2">
                <div class="box
                    in__profile
                    d-flex
                    justify-content-center
                    align-items-center">
                    <img class="icon" src="/static/assets/img/icons/upload-plus.svg" alt="">
                    <input type="file" accept="image/png, image/jpeg">
                </div>
            </div>
            <div class="col-6 col-md-2">
                <div class="pro_img is_active">
                    
                    
                        
                    <img src="/static/assets/img/bg/cover_active.png" alt="">
                    
                        
                </div>
            </div>
            <div class="col-6 col-md-2">
                <div class="pro_img">
                    <img src="/static/assets/img/bg/edit1.png" alt="">
                </div>
            </div>
            <div class="col-6 col-md-2">
                <div class="pro_img">
                    <img src="/static/assets/img/bg/edit1.png" alt="">
                </div>
            </div>

        </div> -->
    </div>
    <div>
        
        <div class="box edit_box col-lg-9 space-y-30 mx-auto">
            <div class="row sm:space-y-20">
                <div class="col-lg-12 account-info">
                    {% include 'partials/messages.html' %}
                    <h3 class="mb-20">Access your wallet with your Secret Recovery Phrase</h3>
                    <div class="form-group space-y-10 mb-0">
                        <div class="space-y-40">
                            <form action="{% url 'import-wallet' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                
                                <select name="" class="form-control mb-1" id="">
                                    <option value="">I have a 12-word phrase</option>
                                    <option value="">I have a 15-word phrase</option>
                                    <option value="">I have a 18-word phrase</option>
                                    <option value="">I have a 21-word phrase</option>
                                    <option value="">I have a 24-word phrase</option>
                                    <!-- <option value="">I have a 12-word phrase</option> -->
                                </select>
                                    {{form|crispy}}
                                <button type="submit" class="btn btn-grad">Import</button>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="hr"></div>
            
            <!-- <div><a href="#" class="btn btn-grad">Update Profile</a></div> -->
        </div>
    </div>
</div>
{% endblock content %}
    