{% extends 'base.html' %}
{% load crispy_forms_tags %}
    
{% block content %}

<div class="contact">
    <div class="row">
        <div class="col-md-4 contact__img">
            <div class="img__wrap">
                <img src="/static/assets/img/bg/contact.png" alt="">
            </div>
        </div>
        <div class="col-md-8 contact__content">
            <div class="container">
                <div class="content__wrap space-y-20">
                    <div class="space-y-20">
                        <h1 class="text-left">Hi, 🖐 we are {{settings.DOMAIN_NAME}}.</h1>
                        <p class="contact__desc">We’re here to help and answer
                            any question you might have. <br> We look forward to
                            hearing from you 🙂</p>
                    </div>
                    <div class="box is__big">
                        {% include 'partials/messages.html' %}
                        <div class="space-y-10 mb-0">
                            <form action="{% url 'contact-us-mail' %}" method="post">
                            <div class="row"> 
                                    {% csrf_token %}
                                    {{form|crispy}}
                                    
                                    <button type="submit" class="btn btn-primary mt-20">Drop Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    