{% extends 'base.html' %}
{% load static %}
{% block bg_hero %}
<div class="mb-100">
    <div class="hero__profile">
        <div class="cover">
            
            {% if user.cover_photo %}
            <img src="{{request.user.cover_photo.url}}" alt="">
            {% else %}
            <img src="/static/assets/img/bg/prrofile.png" alt="">
            {% endif %}
                
        </div>
        <div class="infos">
            <div class="container">
                <div class="row flex-wrap align-items-center justify-content-between sm:space-y-50">
                    <div class="col-md-auto mr-20">
                        <div class="avatars d-flex space-x-20
                            align-items-center">
                            <div class="avatar_wrap">
                                
                                {% if user.profile_pic %}
                                <img class="avatar avatar-lg" src="{{request.user.profile_pic.url}}" alt="avatar">
                                {% else %}
                                <img class="avatar avatar-lg" src="/static/assets/img/avatars/avatar_4.png" alt="avatar">
                                    
                                {% endif %}
                                    
                            </div>
                            <h5>@{{user.username}}</h5>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock bg_hero %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        {% include 'partials/messages.html' %}
        <div class="col-lg-3 col-md-7 order-md-0 order-1">
            <div class="profile__sidebar">
                <div class="space-y-40">
                    <div class="space-y-10">
                        <h5>About me</h5>
                        <div class="box space-y-20">
                            <p>
                                {{user.bio}}
                            </p>
                            <div class="row">
                                <div class="col-6">
                                    <span class="txt_sm color_text">Purchased NFTs</span>
                                    <h4>{{purchased.count}}</h4>
                                </div>
                                <div class="col-6">
                                    <span class="txt_sm color_text">Creations</span>
                                    <h4>{{sales.count}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="space-y-10">
                        <h5>Follow me</h5>
                        <div class="box">
                            <ul class="social_profile space-y-10 overflow-hidden">
                                <li>
                                    <a href="#">
                                        <i class="ri-facebook-line"></i>
                                        <span class="color_text">facebook/</span>
                                        @creabik
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ri-messenger-line"></i>
                                        <span class="color_text"> messenger/</span>
                                        @creabik
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ri-whatsapp-line"></i>
                                        <span class="color_text"> whatsapp/</span>
                                        @creabik
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ri-youtube-line"></i>
                                        <span class="color_text">youtube/</span>
                                        @creabik
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                </div>
                <p class="text-center txt_sm mt-20 color_black">Date Joined: {{user.date_joined}}</p>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 order-md-1 order-0">
            <div class="profile__content">
                <div class="d-flex justify-content-between">
                    <div class="space-x-10">
                        <div class="d-flex justify-content-between">
                            <ul class="nav nav-tabs d-flex space-x-10 mb-30" role="tablist">
                                <li class="nav-item">
                                    <a class="btn btn-white btn-sm active" data-toggle="tab" href="#tabs-1" role="tab">
                                        Creations</a>
                                </li>
                                <li class="nav-item">
                                    <a class="btn btn-white btn-sm" data-toggle="tab" href="#tabs-2" role="tab">
                                        Purchased</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <!-- <div class="dropdown d-none d-sm-block">
                                <button class="btn btn-white btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Recent Active
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another
                                        action</a>
                                    <a class="dropdown-item" href="#">Something
                                        else here</a>
                                </div>
                            </div> -->
                        </div>

                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="row mb-30_reset">
                                    
                                    {% for nft in sales %}
                                    <div class="col-xl-4 col-lg-6 col-md-6">
                                        <div class="card__item three">
                                            <div class="card_body space-y-10">
                                                <!-- =============== -->
                                                <div class="card_head">
                                                    {% if nft.upload_nft %}
                                
                                                    {% if nft.nft_type == 'art' %}
                                                    <img src="{{nft.upload_nft.url}}" alt="">
                                                    {% elif nft.nft_type == 'video' %}
                                                    <img src="{% static 'assets/img/items/item_3.png' %}">
                                                    {% elif nft.nft_type == 'music' %}
                                                    <img src="{% static 'assets/img/items/item_3.png' %}" alt="">
                                                    {% elif nft.nft_type == 'trading-cards/collectible' %}
                                                    <img src="{{nft.upload_nft.url}}" alt="Nft_Profile">
                                                    {% elif nft.nft_type == 'text' %}
                                                    <img src="{{nft.upload_nft.url}}" alt="Nft_Profile">
                                                    {% elif nft.nft_type == 'memes' %}
                                                    <img src="{{nft.upload_nft.url}}" alt="Nft_Profile">
                                                    {% elif nft.nft_type == 'domain-name' %}
                                                    <img src="{{nft.upload_nft.url}}" alt="Nft_Profile">
                                                    {% elif nft.nft_type == 'virtual-style' %}
                                                    <img src="{{nft.upload_nft.url}}" alt="Nft_Profile">
                                                    {% elif nft.nft_type == 'pdf' %}
                                                    <img src="{% static 'assets/img/items/item_3.png' %}" alt="">
                                                    {% else %}
                                                    <p>file format is not supported</p>   
                                                    {% endif %}

                                                    {% else %}
                                                    <img src="/static/assets/img/items/item_1.png" alt="">
                                                    {% endif %}
                                                    <!-- <a href="#" class="likes
                                                        space-x-3">
                                                        <i class="ri-heart-3-fill"></i>
                                                        <span class="txt_sm">1.2k</span>
                                                    </a> -->
                                                    <div class="action">
                                                        <a href="{% url 'explore-detail' nft.slug %}" class="btn
                                                            btn-primary btn-sm
                                                            btn_auction" >
                                                            <i class="ri-auction-line
                                                                color_white"></i>
                                                            View
                                                        </a>
                                                    </div>
                                                </div>
                                                <!-- =============== -->
                                                <h6 class="card_title">
                                                    <a class="color_black" href="{% url 'explore-detail' nft.slug %}">
                                                        {{nft.name}}
                                                    </a>
                                                </h6>

                                                <div class="card_footer d-block
                                                    space-y-10">
                                                    <div class="d-flex
                                                        justify-content-between
                                                        align-items-center">
                                                        <div class="creators
                                                            space-x-10">
                                                            <!-- <div class="avatars
                                                                -space-x-20">
                                                                <a href="Profile.html">
                                                                    <img src="/static/assets/img/avatars/avatar_1.png" alt="Avatar" class="avatar
                                                                        avatar-sm">
                                                                </a>
                                                                <a href="Profile.html">
                                                                    <img src="/static/assets/img/avatars/avatar_2.png" alt="Avatar" class="avatar
                                                                        avatar-sm">
                                                                </a>
                                                            </div> -->
                                                            <a href="{% url 'explore-detail' nft.slug %}">
                                                                <p class="color_blue
                                                                    txt_sm">
                                                                    {{nft.nft_type|upper}}
                                                                </p>
                                                            </a>
                                                        </div>
                                                        <a href="{% url 'explore-detail' nft.slug %}" class="space-x-3">
                                                            <p class="color_green
                                                                txt_sm">{{nft.item_price}}
                                                                ETH</p>
                                                        </a>
                                                    </div>
                                                    <div class="hr"></div>
                                                    <div class="d-flex
                                                        align-items-center
                                                        space-x-10">
                                                        <i class="ri-vip-crown-line"></i>
                                                        <p class="color_red
                                                            txt_sm" style="width: auto">
                                                            STATUS:
                                                        </p>
                                                        <span class="color_black
                                                            txt_sm"> 
                                                            {% if nft.status == 'BUY' %}
                                                                For Sale 
                                                            {% else %}
                                                                SOLD
                                                            {% endif %}
                                                                 </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% empty %}
                                    <p class="text-center color_text">No NFTs yet</p>
                                    {% endfor %}
                                        
                                    
                                    
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="row justify-content-center mb-30_reset">
                                    
                                    {% for nft in purchased %}
                                    <div class="col-xl-4 col-lg-6 col-md-6">
                                        <div class="card__item three">
                                            <div class="card_body space-y-10">
                                                <!-- =============== -->
                                                <div class="card_head">
                                                    {% if nft.upload_nft %}
                                
                                                    {% if nft.nft_type == 'art' %}
                                                    <img src="{{nft.upload_nft.url}}" alt="">
                                                    {% elif nft.nft_type == 'video' %}
                                                    <img src="{% static 'assets/img/items/item_3.png' %}">
                                                    {% elif nft.nft_type == 'music' %}
                                                    <img src="{% static 'assets/img/items/item_3.png' %}" alt="">
                                                    {% elif nft.nft_type == 'trading-cards/collectible' %}
                                                    <img src="{{nft.upload_nft.url}}" alt="Nft_Profile">
                                                    {% elif nft.nft_type == 'text' %}
                                                    <img src="{{nft.upload_nft.url}}" alt="Nft_Profile">
                                                    {% elif nft.nft_type == 'memes' %}
                                                    <img src="{{nft.upload_nft.url}}" alt="Nft_Profile">
                                                    {% elif nft.nft_type == 'domain-name' %}
                                                    <img src="{{nft.upload_nft.url}}" alt="Nft_Profile">
                                                    {% elif nft.nft_type == 'virtual-style' %}
                                                    <img src="{{nft.upload_nft.url}}" alt="Nft_Profile">
                                                    {% elif nft.nft_type == 'pdf' %}
                                                    <img src="{% static 'assets/img/items/item_3.png' %}" alt="">
                                                    {% else %}
                                                    <p>file format is not supported</p>   
                                                    {% endif %}

                                                    {% else %}
                                                    <img src="/static/assets/img/items/item_1.png" alt="">
                                                    {% endif %}
                                                    <!-- <a href="#" class="likes
                                                        space-x-3">
                                                        <i class="ri-heart-3-fill"></i>
                                                        <span class="txt_sm">1.2k</span>
                                                    </a> -->
                                                    <div class="action">
                                                        <a href="{% url 'explore-detail' nft.slug %}" class="btn
                                                            btn-primary btn-sm
                                                            btn_auction" >
                                                            <i class="ri-auction-line
                                                                color_white"></i>
                                                            View
                                                        </a>
                                                    </div>
                                                </div>
                                                <!-- =============== -->
                                                <h6 class="card_title">
                                                    <a class="color_black" href="{% url 'explore-detail' nft.slug %}">
                                                        {{nft.name}}
                                                    </a>
                                                </h6>

                                                <div class="card_footer d-block
                                                    space-y-10">
                                                    <div class="d-flex
                                                        justify-content-between
                                                        align-items-center">
                                                        <div class="creators
                                                            space-x-10">
                                                            <!-- <div class="avatars
                                                                -space-x-20">
                                                                <a href="Profile.html">
                                                                    <img src="/static/assets/img/avatars/avatar_1.png" alt="Avatar" class="avatar
                                                                        avatar-sm">
                                                                </a>
                                                                <a href="Profile.html">
                                                                    <img src="/static/assets/img/avatars/avatar_2.png" alt="Avatar" class="avatar
                                                                        avatar-sm">
                                                                </a>
                                                            </div> -->
                                                            <a href="{% url 'explore-detail' nft.slug %}">
                                                                <p class="color_blue
                                                                    txt_sm">
                                                                    {{nft.nft_type|upper}}
                                                                </p>
                                                            </a>
                                                        </div>
                                                        <a href="{% url 'explore-detail' nft.slug %}" class="space-x-3">
                                                            <p class="color_green
                                                                txt_sm">{{nft.item_price}}
                                                                ETH</p>
                                                        </a>
                                                    </div>
                                                    <div class="hr"></div>
                                                    <!-- <div class="d-flex
                                                        align-items-center
                                                        space-x-10">
                                                        <i class="ri-vip-crown-line"></i>
                                                        <p class="color_red
                                                            txt_sm" style="width: auto">
                                                            STATUS:
                                                        </p>
                                                        <span class="color_black
                                                            txt_sm"> 
                                                            {% if nft.status == 'BUY' %}
                                                                For Sale 
                                                            {% else %}
                                                                SOLD
                                                            {% endif %}
                                                                 </span>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% empty %}
                                    <p class="text-center color_text">No NFTs Purchased yet</p>
                                    {% endfor %}
                                        
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
<script>
    function myFunction() {
      // Get the text field
      var copyText = document.getElementById("walletAddy");
    
      // Select the text field
      copyText.select();
      copyText.setSelectionRange(0, 99999); // For mobile devices
    
       // Copy the text inside the text field
      navigator.clipboard.writeText(copyText.value);
    
      // Alert the copied text
      alert("Wallet address copied: " + copyText.value);
    } 
  </script>
{% endblock content %}
    