{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="container">
    {% include 'partials/messages.html' %}
    <a href="{% url 'users' %}" class="btn btn-white btn-sm my-40">
        Back to home
    </a>
    <div class="item_details">
        <div class="row sm:space-y-20">
            <div class="col-lg-6">
                
                {% if nft.upload_nft %}
                        
                {% if nft.nft_type == 'art' %}
                <img class="item_img" src="{{nft.upload_nft.url}}" alt="">
                {% elif nft.nft_type == 'video' %}
                <video controls src="{{nft.upload_nft.url}}" width="620" poster="{{nft.upload_nft.url}}"></video>
                {% elif nft.nft_type == 'music' %}
                <audio src="{{nft.upload_nft.url}}" controls></audio>
                {% elif nft.nft_type == 'trading-cards/collectible' %}
                <img class="item_img" src="{{nft.upload_nft.url}}" alt="Nft_Profile">
                {% elif nft.nft_type == 'text' %}
                <img class="item_img" src="{{nft.upload_nft.url}}" alt="Nft_Profile">
                {% elif nft.nft_type == 'memes' %}
                <img class="item_img" src="{{nft.upload_nft.url}}" alt="Nft_Profile">
                {% elif nft.nft_type == 'domain-name' %}
                <img class="item_img" src="{{nft.upload_nft.url}}" alt="Nft_Profile">
                {% elif nft.nft_type == 'virtual-style' %}
                <img class="item_img" src="{{nft.upload_nft.url}}" alt="Nft_Profile">
                {% elif nft.nft_type == 'pdf' %}
                <img class="item_img" src="{% static 'assets/img/items/item_2.png' %}" alt="">
                {% else %}
                    <p>file format is not supported</p>   
                {% endif %}

                {% else %}
                <p>No Image Uploaded</p>
                {% endif %}
                
                
                    
            </div>
            <div class="col-lg-6">
                <div class="space-y-20">
                    <h3>{{nft.name}}</h3>
                    
                    <div class="d-flex justify-content-between">
                        <div class="space-x-10 d-flex align-items-center">
                            <p>1 of 1</p>
                            
                        </div>
                        
                    </div>
                    <div class="box">
                        <div class="space-y-20">
                            <div class="d-flex justify-content-between
                                mb-30_reset">
                                <ul class="nav nav-tabs d-flex space-x-10 mb-30" role="tablist">
                                    <li class="nav-item">
                                        <a class="btn btn-white btn-sm active" data-toggle="tab" href="#tabs-1" role="tab">
                                            Details</a>
                                    </li>
                                    <!-- <li class="nav-item">
                                        <a class="btn btn-white btn-sm" data-toggle="tab" href="#tabs-2" role="tab">
                                            Bids</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="btn btn-white btn-sm" data-toggle="tab" href="#tabs-3" role="tab">
                                            History</a>
                                    </li> -->
                                </ul>
                                <!-- Tab panes -->
                                <!-- <div class="dropdown d-none d-sm-block">
                                    <button class="btn btn-white btn-sm
                                        dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Recent Active
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another
                                            action</a>
                                        <a class="dropdown-item" href="#">Something
                                            else here</a>
                                    </div>
                                </div> -->
                            </div>
                            <div class="hr"></div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                    <p>{{nft.description}}</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="numbers">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="space-y-5">
                                    <p class="color_text">Price</p>
                                    <h4>{{nft.item_price}}<span class="txt_sm color_text">
                                            ETH </span></h4>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="space-y-5">
                                    <p class="color_text">Status</p>
                                    <div class="d-flex countdown_item
                                        align-items-center">
                                        <div class="item">
                                            <div class="">
                                                
                                                {% if nft.minted %}
                                                    
                                                    {% if nft.status == 'BUY' %}
                                                    <span class="text-warning">ON SALE</span>
                                                    {% else %}
                                                    <span class="text-success">SOLD</span>
                                                    {% endif %}
                                                        
                                                {% else %}
                                                    <span class="text-warning">Unminted</span>
                                                {% endif %}
                                                    
                                                </div>
                                        </div>
                                        <!-- <div class="dots">:</div>
                                        <div class="item">
                                            <div class="number minutes">15<span></span></div>
                                        </div>
                                        <div class="dots">:</div>
                                        <div class="item">
                                            <div class="number seconds">11<span></span></div>
                                        </div> -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hr2"></div>
                    <div class="creators">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="avatars space-x-5">
                                    <div class="media">
                                        
                                        {% if nft.creator.profile_pic %}
                                        <a href="javascript:void(0)">
                                            <img src="{{nft.creator.profile_pic.url}}" alt="Avatar" class="avatar
                                                avatar-sm">
                                        </a>
                                        {% else %}
                                        <a href="javascript:void(0)">
                                            <img src="/static/assets/img/avatars/avatar_3.png" alt="Avatar" class="avatar
                                                avatar-sm">
                                        </a>
                                            
                                        {% endif %}
                                            
                                    </div>
                                    <div>
                                        <a href="javascript:void(0)">
                                            <p class="avatars_name color_black">@{{nft.creator}}</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="avatars space-x-5">
                                    
                                    {% if nft.purchased_by %}
                                    <div class="media">
                                        
                                        
                                        <div class="badge">
                                            <img class="badge" src="/static/assets/img/icons/Badge.svg" alt="">
                                        </div>
                                        {% if nft.purchased_by.profile_pic %}
                                        <a href="javascript:void(0)">
                                            <img src="{{nft.nft.purchased_by.profile_pic.url}}" alt="Avatar" class="avatar
                                                avatar-sm">
                                        </a>
                                        {% else %}
                                        <a href="javascript:void(0)">
                                            <img src="/static/assets/img/avatars/avatar_2.png" alt="Avatar" class="avatar
                                                avatar-sm">
                                        </a>
                                            
                                        {% endif %}
                                    </div>
                                    <div>
                                        <a href="javascript:void(0)">
                                            <p class="avatars_name color_black">Purchased By: @{{nft.purchased_by.username}}</p>
                                        </a>
                                    </div>
                                    {% else %}
                                        
                                    {% endif %}
                                        
                                </div>
                            </div>
                            <!-- <p class="text-danger">NFT will not be listed for sale until it has been minted</p> -->
                        </div>
                    </div>
                    <div class="d-flex space-x-20">
                        
                        {% if nft.status == 'BUY' %}
                        
                            
                        
                        <form action="{% url 'explore-detail' nft.id %}" method="post" class="search-form-wrapper">
                            {% csrf_token %}
                            
                            <button type="submit" class="btn btn-primary btn-lg mt-2">Purchase</button>
                        </form>
                        {% else %}
                        <button type="button" disabled class="btn btn-dark btn-lg mt-2">Sold</button>
                            
                        {% endif %}
                            
                        <!-- <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#popup_buy"> Buy Now</a>
                        <a href="#" class="btn btn-grad btn-lg" data-toggle="modal" data-target="#popup_bid"> Place bid</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function myFunction() {
      // Get the text field
      var copyText = document.getElementById("walletAddy");
    
      // Select the text field
      copyText.select();
      copyText.setSelectionRange(0, 99999); // For mobile devices
    
       // Copy the text inside the text field
      navigator.clipboard.writeText(copyText.value);
    
      // Alert the copied text
      alert("Wallet address copied: " + copyText.value);
    } 
</script>
{% endblock content %}
    