{% extends 'base.html' %}

{% block content %}
<div class="faq-section pb-120 pt-120 mt-lg-0 mt-sm-15 mt-10">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-lg-15 mb-10">
                <h2 class="display-four tcn-1 cursor-scale growUp title-anim"><div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px);">F</div><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px);">a</div><div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px);">q</div></div></h2>
            </div>
        </div>

        <div class="container">
            <div class="row g-6">
                <div class="col-lg-6 px-sm-3 px-0">
                    <div class="accordion-section faq-accordion d-grid gap-6">
                        <div class="accordion-single p-sm-5 p-3 bgn-4 rounded">
                            <h5 class="acc-header-area">
                                <button class="accordion-btn text-start position-relative p-0 w-100 pe-7 fs-five fw-medium" type="button">
                                    What is an NFT? 
                                </button>
                            </h5>
                            <div class="acc-content-area">
                                <div class="content-body mt-lg-6 mt-4">
                                    <p class="tcn-6">
                                        NFTs or non-fungible tokens, are cryptographic assets on blockchain with unique identification codes and metadata that distinguish them from each other. NFTs are unique and not mutually interchangeable, which means no two NFTs are the same. NFTs can be a unique digital artwork, sneaker in a limited-run fashion line, in-game item, digital collectible etc. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-single p-sm-5 p-3 bgn-4 rounded">
                            <h5 class="acc-header-area">
                                <button class="accordion-btn text-start position-relative p-0 w-100 pe-7 fs-five fw-medium" type="button">
                                    Customer support is available ? 
                                </button>
                            </h5>
                            <div class="acc-content-area">
                                <div class="content-body mt-lg-6 mt-4">
                                    <p class="tcn-6">

                                        You can fill out a request for support via email Please provide:
                                        
                                            Your email address
                                            Your wallet address (if applicable)
                                            Choose relevant categories
                                            Provide detailed information regarding your inquiry.
                                        
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-single p-sm-5 p-3 bgn-4 rounded">
                            <h5 class="acc-header-area">
                                <button class="accordion-btn text-start position-relative p-0 w-100 pe-7 fs-five fw-medium" type="button">
                                    How do I find my transaction hash? 
                                </button>
                            </h5>
                            <div class="acc-content-area">
                                <div class="content-body mt-lg-6 mt-4">
                                    <p class="tcn-6">
                                        {{settings.DOMAIN_NAME}} staff often requires a
                                        "transaction hash" from Etherscan or
                                        Polygonscan to troubleshoot support
                                        issues.
                                        <br>
                                        Transaction hashes are unique IDs
                                        recording each transaction on the
                                        blockchain, this includes NFT purchases,
                                        sales or even cancelling orders. All gas
                                        fees paid will generate a transaction
                                        hash.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-single p-sm-5 p-3 bgn-4 rounded">
                            <h5 class="acc-header-area">
                                <button class="accordion-btn text-start position-relative p-0 w-100 pe-7 fs-five fw-medium" type="button">
                                    What are gas fees on {{settings.DOMAIN_NAME}}?
                                </button>
                            </h5>
                            <div class="acc-content-area">
                                <div class="content-body mt-lg-6 mt-4">
                                    <p class="tcn-6">Gas fees are like transaction fees on
                                        the Ethereum blockchain. When you make
                                        transactions, such as transfering crypto
                                        to another wallet or purchasing an NFT
                                        on {{settings.DOMAIN_NAME}}, you'll need enough ETH in
                                        your wallet for the initial transaction
                                        and the associated gas fees.</p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="accordion-single p-sm-5 p-3 bgn-4 rounded">
                            <h5 class="acc-header-area">
                                <button class="accordion-btn text-start position-relative p-0 w-100 pe-7 fs-five fw-medium" type="button">
                                    How can I get Matic to pay for the Network Fee (gas)?
                                </button>
                            </h5>
                            <div class="acc-content-area">
                                <div class="content-body mt-lg-6 mt-4">
                                    <p class="tcn-6">Molestias excepturi sint occaecati cupiditate non provident,
                                        similique
                                        sunt in culpa qui
                                        officia
                                        deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
                                        quidem
                                        rerum facilis
                                        est et
                                        expedita distinctio.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-single p-sm-5 p-3 bgn-4 rounded">
                            <h5 class="acc-header-area">
                                <button class="accordion-btn text-start position-relative p-0 w-100 pe-7 fs-five fw-medium" type="button">
                                    Can I leave a tournament after it begins?
                                </button>
                            </h5>
                            <div class="acc-content-area">
                                <div class="content-body mt-lg-6 mt-4">
                                    <p class="tcn-6">Molestias excepturi sint occaecati cupiditate non provident,
                                        similique
                                        sunt in culpa qui
                                        officia
                                        deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
                                        quidem
                                        rerum facilis
                                        est et
                                        expedita distinctio.</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- <div class="col-lg-6 px-sm-3 px-0">
                    <div class="accordion-section faq-accordion d-grid gap-6">
                        <div class="accordion-single p-sm-5 p-3 bgn-4 rounded">
                            <h5 class="acc-header-area">
                                <button class="accordion-btn text-start position-relative p-0 w-100 pe-7 fs-five fw-medium" type="button">
                                    What are the benefits of multiplayer gaming?
                                </button>
                            </h5>
                            <div class="acc-content-area">
                                <div class="content-body mt-lg-6 mt-4">
                                    <p class="tcn-6">
                                        Molestias excepturi sint occaecati cupiditate non provident,
                                        similique
                                        sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                                        dolorum fuga. Et harum quidem
                                        rerum facilis est et expedita distinctio.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-single p-sm-5 p-3 bgn-4 rounded">
                            <h5 class="acc-header-area">
                                <button class="accordion-btn text-start position-relative p-0 w-100 pe-7 fs-five fw-medium" type="button">
                                    What are some popular esports tournaments and events?
                                </button>
                            </h5>
                            <div class="acc-content-area">
                                <div class="content-body mt-lg-6 mt-4">
                                    <p class="tcn-6">The gaming world never sleeps, and neither do we. Stay
                                        tuned for more
                                        breaking news reviews and insights into the gaming industry. Whether
                                        you're a casual gamer or a dedicated enthusiast
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-single p-sm-5 p-3 bgn-4 rounded">
                            <h5 class="acc-header-area">
                                <button class="accordion-btn text-start position-relative p-0 w-100 pe-7 fs-five fw-medium" type="button">
                                    How do I prevent gaming addiction?
                                </button>
                            </h5>
                            <div class="acc-content-area">
                                <div class="content-body mt-lg-6 mt-4">
                                    <p class="tcn-6">Molestias excepturi sint occaecati cupiditate non provident,
                                        similique
                                        sunt in culpa qui
                                        officia
                                        deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
                                        quidem
                                        rerum facilis
                                        est et
                                        expedita distinctio.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-single p-sm-5 p-3 bgn-4 rounded">
                            <h5 class="acc-header-area">
                                <button class="accordion-btn text-start position-relative p-0 w-100 pe-7 fs-five fw-medium" type="button">
                                    Are there any career opportunities in the gaming industry?
                                </button>
                            </h5>
                            <div class="acc-content-area">
                                <div class="content-body mt-lg-6 mt-4">
                                    <p class="tcn-6">Molestias excepturi sint occaecati cupiditate non provident,
                                        similique
                                        sunt in culpa qui
                                        officia
                                        deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
                                        quidem
                                        rerum facilis
                                        est et
                                        expedita distinctio.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-single p-sm-5 p-3 bgn-4 rounded">
                            <h5 class="acc-header-area">
                                <button class="accordion-btn text-start position-relative p-0 w-100 pe-7 fs-five fw-medium" type="button">
                                    What is a crypto currency wallet?
                                </button>
                            </h5>
                            <div class="acc-content-area">
                                <div class="content-body mt-lg-6 mt-4">
                                    <p class="tcn-6">Molestias excepturi sint occaecati cupiditate non provident,
                                        similique
                                        sunt in culpa qui
                                        officia
                                        deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
                                        quidem
                                        rerum facilis
                                        est et
                                        expedita distinctio.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-single p-sm-5 p-3 bgn-4 rounded">
                            <h5 class="acc-header-area">
                                <button class="accordion-btn text-start position-relative p-0 w-100 pe-7 fs-five fw-medium" type="button">
                                    How much does it cost to enter a tournament?
                                </button>
                            </h5>
                            <div class="acc-content-area">
                                <div class="content-body mt-lg-6 mt-4">
                                    <p class="tcn-6">Molestias excepturi sint occaecati cupiditate non provident,
                                        similique
                                        sunt in culpa qui
                                        officia
                                        deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
                                        quidem
                                        rerum facilis
                                        est et
                                        expedita distinctio.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    