{% extends 'base.html' %}

{% block bg_hero %}
<div class="hero__1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="hero__left space-y-20">
                    <h1 class="hero__title">
                        Discover digital art
                        and collect NFTs
                    </h1>
                    <p class="hero__text txt">raroin is a shared liquidity
                        NFT
                        market smart contract
                        which
                        is used by multiple websites to provide the users the
                        best
                        possible experience.</p>
                    <div class="space-x-20 d-flex flex-column flex-md-row
                                sm:space-y-20">
                        <a class="btn btn-primary" href="{% url 'explore' %}">View
                            market</a>
                        <a class="btn btn-white" href="{% url 'create-nft' %}">
                            Upload your item</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid w-full" id="img_js" src="/static/assets/img/bg/in_hero1.png" alt="">
            </div>
        </div>

    </div>
</div>
{% endblock bg_hero %}


{% block content %}
<div class="section__artists mt-100">

    <div class="container">
        <div class="space-y-30">
            <div class="section_head">
                <h2 class="section__title">Top Artists</h2>
            </div>
            <div class="section_body swiper_artists">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper position-relative">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="creator_item creator_card rounded_border space-x-10">
                            <div class="avatars space-x-10">
                                <div class="media">
                                    <div class="badge">
                                        <img src="/static/assets/img/icons/Badge.svg" alt="" />
                                    </div>
                                    <a href="javascript:void(0)">
                                        <img src="/static/assets/img/avatars/avatar_1.png" alt="Avatar"
                                            class="avatar avatar-md" />
                                    </a>
                                </div>
                                <div>
                                    <a href="javascript:void(0)">
                                        <p class="avatars_name color_black">@xander_hall...</p>
                                    </a>
                                    <span class="price color_green">16.58 ETH</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="creator_item creator_card rounded_border space-x-10">
                            <div class="avatars space-x-10">
                                <div class="media">
                                    <div class="badge">
                                        <img src="/static/assets/img/icons/Badge.svg" alt="" />
                                    </div>
                                    <a href="javascript:void(0)">
                                        <img src="/static/assets/img/avatars/avatar_2.png" alt="Avatar"
                                            class="avatar avatar-md" />
                                    </a>
                                </div>
                                <div>
                                    <a href="javascript:void(0)">
                                        <p class="avatars_name color_black">@hamza_pitts...</p>
                                    </a>
                                    <span class="price color_green">14.55 ETH</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="creator_item creator_card rounded_border space-x-10">
                            <div class="avatars space-x-10">
                                <div class="media">
                                    <div class="badge">
                                        <img src="/static/assets/img/icons/Badge.svg" alt="" />
                                    </div>
                                    <a href="javascript:void(0)">
                                        <img src="/static/assets/img/avatars/avatar_3.png" alt="Avatar"
                                            class="avatar avatar-md" />
                                    </a>
                                </div>
                                <div>
                                    <a href="javascript:void(0)">
                                        <p class="avatars_name color_black">@nathan_walls...</p>
                                    </a>
                                    <span class="price color_green">24.13 ETH</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="creator_item creator_card rounded_border space-x-10">
                            <div class="avatars space-x-10">
                                <div class="media">
                                    <div class="badge">
                                        <img src="/static/assets/img/icons/Badge.svg" alt="" />
                                    </div>
                                    <a href="javascript:void(0)">
                                        <img src="/static/assets/img/avatars/avatar_4.png" alt="Avatar"
                                            class="avatar avatar-md" />
                                    </a>
                                </div>
                                <div>
                                    <a href="javascript:void(0)">
                                        <p class="avatars_name color_black">@kelton_collier...</p>
                                    </a>
                                    <span class="price color_green">62.68 ETH</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="creator_item creator_card rounded_border space-x-10">
                            <div class="avatars space-x-10">
                                <div class="media">
                                    <div class="badge">
                                        <img src="/static/assets/img/icons/Badge.svg" alt="" />
                                    </div>
                                    <a href="javascript:void(0)">
                                        <img src="/static/assets/img/avatars/avatar_5.png" alt="Avatar"
                                            class="avatar avatar-md" />
                                    </a>
                                </div>
                                <div>
                                    <a href="javascript:void(0)">
                                        <p class="avatars_name color_black">@cade_glover...</p>
                                    </a>
                                    <span class="price color_green">32.48 ETH</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="mt-100">
<div class="container">
    <div class="section__head">
        <div class="d-md-flex
                    sm:space-y-20
                    space-x-20
                    justify-content-between
                    align-items-center">
            <h2 class="section__title text-center">Explore</h2>
            <ul class="menu_categories space-x-20">
                <li>
                    <a href="#" class="color_brand">

                        <span> All </span>
                    </a>
                </li>
                <li> <a href="#">
                        <i class="ri-gamepad-line"></i> <span> Games </span>
                    </a>

                </li>
                <li> <a href="#">
                        <i class="ri-brush-line"></i> <span> Art </span>
                    </a>

                </li>
                <li> <a href="#">
                        <i class="ri-stock-line"></i> <span> Trading Cards </span>
                    </a>

                </li>
                <li> <a href="#">
                        <i class="ri-music-line"></i> <span> Music </span>
                    </a>

                </li>
                <li> <a href="#">
                        <i class="ri-global-line"></i> <span> Domain Names </span>
                    </a>

                </li>
                <li> <a href="#">
                        <i class="ri-emotion-laugh-line"></i> <span> Memes </span>
                    </a>

                </li>
                <li> <a href="#">
                        <i class="ri-layout-4-line"></i> <span> Collectibles </span>
                    </a>

                </li>
            </ul>
            <div class="dropdown text-center">
                <!-- <button class="btn btn-white btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Recent Active
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div> -->
            </div>
        </div>
    </div>
    <div class="row">
        
        {% for random in randoms %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
            <div class="card__item four">
                <div class="card_body space-y-10">
                    <!-- =============== -->
                    
                    <div class="card_head">
                        <a href="{% url 'explore-detail' random.slug %}">
                            {% if random.upload_nft %}
                            {% if random.nft_type == 'art' %}
                            <img src="{{random.upload_nft.url}}" alt="">
                            {% else %}
                            <img src="/static/assets/img/items/item_4.png" alt="">
                                
                            {% endif %}

                            {% else %}
                            <img src="/static/assets/img/items/item_7.png" alt="">
                            {% endif %}
                            <!-- <img src="/static/assets/img/items/item_1.png" alt="item
                                        img" /> -->
                        </a>
                        <!-- <a href="#" class="likes space-x-3">
                            <i class="ri-heart-3-fill"></i>
                            <span class="txt_sm">1.2k</span>
                        </a> -->
                    </div>
                    <!-- =============== -->

                    <h6 class="card_title">
                        <a class="color_black" href="{% url 'explore-detail' random.slug %}">
                            {{random.name}}
                        </a>
                    </h6>
                    <div class="card_footer d-block space-y-10">
                        <div class="card_footer justify-content-between">
                            <!-- <div class="creators">
                                <p class="txt_sm">4 in stock</p>
                            </div> -->
                            <a href="{% url 'explore-detail' random.slug %}" class="">
                                <p class="txt_sm">
                                    Price: <span class="color_green txt_sm">{{random.item_price}}
                                        ETH</span>
                                </p>
                            </a>
                        </div>
                        <div class="hr"></div>
                        <div class="d-flex
                                    align-items-center
                                    space-x-10
                                    justify-content-between">
                            <div class="d-flex align-items-center
                                        space-x-5">
                                <i class="ri-history-line"></i>
                                <a href="{% url 'explore-detail' random.slug %}" data-toggle="modal" data-target="#popup_history">
                                    <p class="color_text txt_sm
                                                view_history" style="width:
                                                auto">
                                        View History
                                    </p>
                                </a>
                            </div>
                            <a class="btn btn-sm btn-primary" href="{% url 'explore-detail' random.slug %}" data-toggle="modal"
                                data-target="#popup_bid">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        {% endfor %}
            
        
    </div>
    <div class="d-flex justify-content-center">
        <a href="{% url 'explore' %}" class="btn btn-sm btn-white">
            <i class="ri-restart-line"></i>
            View all items
        </a>
    </div>
</div>
</div>
<!-- <div class="section mt-100">
<div class="container">
    <div class="section__head">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="section__title"> Collections</h2>
            <a href="Collections.html" class="btn btn-dark btn-sm">
                View
                All</a>
        </div>
    </div>

    <div class="row justify-content-center mb-30_reset">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="collections space-y-10 mb-30">
                <a href="404-4.html">
                    <div class="collections_item">
                        <div class="images-box space-y-10">
                            <div class="top_imgs">
                                <img src="/static/assets/img/items/item_9.png" alt="">
                                <img src="/static/assets/img/items/item_10.png" alt="">
                                <img src="/static/assets/img/items/item_11.png" alt="">
                            </div>
                            <img src="/static/assets/img/items/item_12.png" alt="">
                        </div>
                    </div>
                </a>
                <div class="collections_footer justify-content-between">
                    <h5 class="collection_title"><a href="Collections.html">Creative Art collection</a></h5>
                    <a href="#" class="likes space-x-3">
                        <i class="ri-heart-3-fill"></i>
                        <span class="txt_md">2.1k</span>
                    </a>
                </div>
                <div class="creators space-x-10">
                    <span class="color_text txt_md"> 5 items · Created by</span>
                    <div class="avatars space-x-5">
                        <a href="javascript:void(0)">
                            <img src="/static/assets/img/avatars/avatar_2.png" alt="Avatar" class="avatar avatar-sm">
                        </a>
                    </div>
                    <a href="javascript:void(0)">
                        <p class="avatars_name txt_sm"> @william_jamy... </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="collections space-y-10 mb-30">
                <a href="404-4.html">
                    <div class="collections_item">
                        <div class="images-box space-y-10">
                            <div class="top_imgs">
                                <img src="/static/assets/img/items/item_13.png" alt="">
                                <img src="/static/assets/img/items/item_14.png" alt="">
                                <img src="/static/assets/img/items/item_15.png" alt="">
                            </div>
                            <img src="/static/assets/img/items/item_16.png" alt="">
                        </div>
                    </div>
                </a>
                <div class="collections_footer justify-content-between">
                    <h5 class="collection_title"><a href="Collections.html">Colorful Abstract Painting</a></h5>
                    <a href="#" class="likes space-x-3">
                        <i class="ri-heart-3-fill"></i>
                        <span class="txt_md">3.5k</span>
                    </a>
                </div>
                <div class="creators space-x-10">
                    <span class="color_text txt_md"> 7 items · Created by</span>
                    <div class="avatars space-x-5">
                        <a href="javascript:void(0)">
                            <img src="/static/assets/img/avatars/avatar_3.png" alt="Avatar" class="avatar avatar-sm">
                        </a>
                    </div>
                    <a href="javascript:void(0)">
                        <p class="avatars_name txt_sm"> @alexis_fenn... </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="collections space-y-10 mb-30">
                <a href="404-4.html">
                    <div class="collections_item">
                        <div class="images-box space-y-10">
                            <div class="top_imgs">
                                <img src="/static/assets/img/items/item_17.png" alt="">
                                <img src="/static/assets/img/items/item_18.png" alt="">
                                <img src="/static/assets/img/items/item_19.png" alt="">
                            </div>
                            <img src="/static/assets/img/items/item_20.png" alt="">
                        </div>
                    </div>
                </a>
                <div class="collections_footer justify-content-between">
                    <h5 class="collection_title"><a href="Collections.html">Modern Art collection</a></h5>
                    <a href="#" class="likes space-x-3">
                        <i class="ri-heart-3-fill"></i>
                        <span class="txt_md">7.2k</span>
                    </a>
                </div>
                <div class="creators space-x-10">
                    <span class="color_text txt_md"> 2 items · Created by</span>
                    <div class="avatars space-x-5">
                        <a href="javascript:void(0)">
                            <img src="/static/assets/img/avatars/avatar_1.png" alt="Avatar" class="avatar avatar-sm">
                        </a>
                    </div>
                    <a href="javascript:void(0)">
                        <p class="avatars_name txt_sm"> @Joshua_Bren... </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div> -->
<div class="call2action">
<div class="container">
    <div class="row justify-content-between align-items-center
                sm:space-y-20">
        <div class="col-md-6">
            <div class="space-y-20">
                <h1 class="text-white">Start your own
                    collection today</h1>
                <p class="color_text section__text">raroin is a shared
                    liquidity NFT
                    market smart contract
                    which
                    is used by multiple websites to provide the users the
                    best
                    possible experience.</p>
                <a href="{% url 'create-collection' %}" class="btn
                            btn-primary">Start
                    Collecting</a>
            </div>
        </div>
        <div class="col-md-auto">
            <img class="img-fluid img__logo" src="/static/assets/img/logos/Logo_illustrstion.png" alt="...">
        </div>
    </div>
</div>
</div>
<div class="container">
<div class="logos__wrap">
    <div class="row align-items-center justify-content-between">
        <div class="col-lg-auto col-md-12">
            <h3 class="section__title md:mb-20 text-left d-flex
                        justify-content-center">Loved
                by
                the community</h3>
        </div>
        <div class="col-lg-auto col-md-12">
            <div class="d-flex flex-column flex-md-row
                        justify-content-center
                        space-x-20 sm:space-x-0 sm:space-y-20 align-items-center">
                <img src="/static/assets/img/logos/1.svg" alt="">
                <img src="/static/assets/img/logos/2.svg" alt="">
                <img src="/static/assets/img/logos/3.svg" alt="">
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
    
    