{% extends 'base.html' %}

{% block content %}

<section class="terms-condition pb-120 pt-120 mt-lg-0 mt-sm-15 mt-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="terms-condition-wrapper p-lg-15 p-md-10 p-sm-8 p-4 bgn-4 rounded">
                    <h4 class="text-left mb-4">
                        {{settings.DOMAIN_NAME}} Terms of Use

                        Last revised: December 27th, 2022
            
                        Welcome to {{settings.DOMAIN_NAME}}! {{settings.DOMAIN_NAME}} is a platform that allows you to buy, sell, create, publish and display {{settings.DOMAIN_NAME}}. These Terms of Use are entered into by and between you and {{settings.DOMAIN_NAME}}, LLC (“{{settings.DOMAIN_NAME}},” “Company,” “we,” or “us”). The following terms and conditions, together with any documents they expressly incorporate by reference, govern your access to and use of {{settings.DOMAIN_NAME}}, including any content, functionality, and services offered on or through our site (the “Site”).
                    </h4>

                    
                    <div class="space-y-20 mt-4">
                        <h3>1) Accepting these Terms</h3>
                        <p>
                            These Terms of Use set out your rights and responsibilities when you use {{settings.DOMAIN_NAME}} to buy, sell, create, publish or display non-fungible tokens (“{{settings.DOMAIN_NAME}}” or “{{settings.DOMAIN_NAME}}”), so please read them carefully. {{settings.DOMAIN_NAME}} is an administrative platform that facilitates transactions between a buyer and a seller but is not a party to any agreement between the buyer and seller of {{settings.DOMAIN_NAME}} or between any users. By clicking on the “I Accept” button, completing the account registration process, or using the Services, you accept and agree to be bound and abide by these Terms of Use and all of the terms incorporated herein by reference. By agreeing to these terms, you hereby certify that you are at least 18 years of age. If you do not agree to these Terms of Use, you must not access or use the Site or the Services.
        
        Please note that this Agreement contains an arbitration clause and class action waiver. By agreeing to these Terms of Use, you agree to resolve all disputes through binding individual arbitration, which means that you waive any right to have the dispute decided by a judge or jury, and you waive any right to participate in collective action, whether that be a class action, class arbitration, or representative action.
        
        {{settings.DOMAIN_NAME}} reserves the right to change or modify these Terms of Use at any time and in our sole discretion. You agree and understand that by logging into your account, accessing or using the Site or Services following any change to these Terms of Use, you agree to the revised Terms of Use and all of the terms incorporated therein by reference. We encourage you to review the Terms of Use from time to time to ensure that you understand the terms and conditions that apply when you access or use the Site.
                        </p>
                    </div>

                    <div class="space-y-20 mt-4">
                        <h3>2) Definitions</h3>
                        <ul>
                            <li>“Artwork” means digital art that a Creator or Publisher sells on the {{settings.DOMAIN_NAME}} platform in the form of {{settings.DOMAIN_NAME}}.</li>
                            <li>“Creator” means a User who makes artwork that is minted into {{settings.DOMAIN_NAME}} and sold on {{settings.DOMAIN_NAME}}.</li>
                            <li>“Creator Content” means Artwork that a Creator creates, descriptions of the Creator and the Creator’s Artwork, and any other information posted by a Creator that is not Profile Information.</li>
                            <li>“Drop Terms” means the number of editions, format, and price with which a Publisher or Creator sells Artwork through {{settings.DOMAIN_NAME}}.</li>
                            <li>“Marketplace Services” means the purchase, sale, or display of NFTs.</li>
                            <li>“Minting Services” means the minting, display and sale of artwork in the form of {{settings.DOMAIN_NAME}}.</li>
                            <li>“{{settings.DOMAIN_NAME}}” means non-fungible tokens.</li>
                            <li>“Publisher” means a User who uses the Publisher Services.</li>
                        </ul>
                    </div>


                    <div class="space-y-20 mt-4">
                        <h3>3) Your {{settings.DOMAIN_NAME}} Account</h3>
                        <p>
                            You need to create an account with {{settings.DOMAIN_NAME}} to use the Services. When you create an account, we will ask you for some information about yourself. We may require you, in our sole discretion, to provide additional information and/or documents. If you do not provide complete and accurate information and/or documents in response to such a request, we may refuse to provide you with the Services.
                        </p>
                        <p>Your {{settings.DOMAIN_NAME}} account is subject to the following conditions:</p>
        
                        <ul>
                            <li>You may only open one account on {{settings.DOMAIN_NAME}}. If we have a reasonable suspicion that you have opened multiple accounts on {{settings.DOMAIN_NAME}}, we reserve the right to take whatever action we deem appropriate, including but not limited to closing and/or freezing your accounts.</li>
                            <li>Access: you understand and agree that access to your {{settings.DOMAIN_NAME}} account is limited solely to you. You agree that you will not sell, rent, lease, or grant access to your {{settings.DOMAIN_NAME}} account to any person without our prior written permission.</li>
                            <li>Security: you understand and agree that you are solely responsible for maintaining the security of your account and control over any user names, passwords, or any other codes that you use to access the Services. Any unauthorized access to your account by third parties could result in the loss or theft of {{settings.DOMAIN_NAME}} and/or funds held in your account and any associated accounts, including your linked bank account(s) and credit card(s). You understand and agree that you will not hold us responsible for managing and maintaining the security of your account. You further understand and agree that we are not responsible (and you will not hold us responsible) for any unauthorized access to or use of your account. You are responsible for monitoring your account. If you notice any unauthorized or suspicious activity in your account, please notify us immediately and provide all relevant details.</li>
                            <li>Trading Fees: by buying or selling a {{settings.DOMAIN_NAME}} on {{settings.DOMAIN_NAME}}, you agree to pay all applicable fees and you authorize {{settings.DOMAIN_NAME}} to automatically deduct fees directly from your payment. You will always be provided with a breakdown of fees prior to your purchase or sale of a {{settings.DOMAIN_NAME}}.</li>
                            <li>Communication: you agree and understand that we will communicate with you via electronic means. To ensure that you receive all of our communications, you agree to keep your email address and telephone number current and notify us if there are any changes. You agree that any notices, agreements, disclosures, or other communications delivered to your email address on record is considered valid.</li>
                            <li>USD Balance: certain approved users may carry a balance in U.S. Dollars to facilitate transactions on the {{settings.DOMAIN_NAME}} platform. You are the owner of your balance.</li>
                            <li>Unclaimed Property: if {{settings.DOMAIN_NAME}} is holding funds in your account and has no record of your use of the Service for several years, we may be required, upon passage of applicable time periods, to report these funds as unclaimed property in accordance with the abandoned property and escheat laws. If this occurs, we will use reasonable efforts to give you written notice. If you fail to respond within seven business days or as required by law, we may be required to deliver any such funds to the applicable state or jurisdiction as unclaimed property. We reserve the right to deduct a dormancy fee or administrative fee from such unclaimed funds, as permitted by applicable law.</li>
                        </ul>
                    </div>

                    <div class="space-y-20 mt-4">
                        <h3>4) Account Suspension</h3>
                        <p>
                            You agree that {{settings.DOMAIN_NAME}} has the right to immediately suspend your account, pause or cancel your access to the Services, or close your account if we suspect, in our sole discretion, that (1) your account is being used for money laundering or any illegal activity; (2) you have concealed or provided false identification information or other details; (3) you have engaged in fraudulent activity; (4) you have acquired {{settings.DOMAIN_NAME}} using inappropriate methods (including but not limited to using stolen funds or payments methods, or attempting to chargeback your payment while retaining or disposing of a {{settings.DOMAIN_NAME}}); (5) you are using, employing, or operating bots or other forms of automation and/or multiple accounts to engage in any activity on {{settings.DOMAIN_NAME}}; or (6) you have otherwise acted in violation of these Terms of Use.
                            <br>
                            IF {{settings.DOMAIN_NAME}} HAS A REASONABLE BELIEF THAT YOU HAVE ENGAGED IN ACTIVITIES (1), (2), (3), (4), or (5) ABOVE, {{settings.DOMAIN_NAME}} RESERVES THE RIGHT, IN ITS SOLE DISCRETION, TO CONFISCATE ANY {{settings.DOMAIN_NAME}} PURCHASES PURSUANT TO THOSE ACTIVITIES AND/OR DEEM SUCH TRANSACTIONS NULL AND VOID.
                        </p>
                    </div>

                    <div class="space-y-20 mt-4">
                        <h3>5) Account Closure</h3>
                        <p>
                            You may close your account at any time. You agree and understand that closing an account will not affect any rights and obligations incurred prior to the date of account closure. You may be required to either cancel or complete all open orders and bids and, in accordance with the provisions of these Terms of Use, provide transfer instructions of where to transfer any {{settings.DOMAIN_NAME}}, fiat currency, and/or digital assets remaining in your account. You are responsible for any fees, costs, expenses, charges, or obligations (including, but not limited to, attorney and court fees or transfer costs of {{settings.DOMAIN_NAME}}, fiat currency, or digital assets) associated with the closing of your account. In the event that the costs of closing of your account exceed the value in your account, you will be responsible for reimbursing us. You may not close any of your accounts to avoid paying any fees otherwise due.
                        </p>
                    </div>

                    <div class="space-y-20 mt-4">
                        <h3>6) Communication</h3>
                        <p>
                            You agree that we may send you promotional communications by email, including, but not limited to, newsletters, special offers, surveys, and other news and information we think will be of interest to you.
        
        You agree that we may send you communications by email or text message that pertain to the status of a purchase or sale of a {{settings.DOMAIN_NAME}} on {{settings.DOMAIN_NAME}}, and other communications that pertain to your interaction with the Site, including but not limited to notifications about the status of a {{settings.DOMAIN_NAME}} you are interested in purchasing.
        
        You may opt out of promotional communications at any time by following the instructions provided therein.
                        </p>
                    </div>

                    <div class="space-y-20 mt-4">
                        <h3>7) Profile Information</h3>
                        <p>
                            The Site allows Users to create a profile where you can post certain information about yourself, link to other websites, and display Nifties that you own (collectively, “Profile Information”). Any Profile Information you post to the Site will be considered non-confidential and non-proprietary. All Profile Information must comply with these Terms of Use.
        
        Although we are not required to monitor any Profile Information, we may, in our sole discretion, remove Profile Information at any time and for any reason without notice.
        
        {{settings.DOMAIN_NAME}} may monitor Profile Information to detect and prevent fraudulent activity or violation of {{settings.DOMAIN_NAME}}’s Terms of Use.
                        </p>
                    </div>

                    <div class="space-y-20 mt-4">
                        <h3>8) Creator Content</h3>
                        <p>
                            If you are a Creator, the Site allows you to publisher Creator Content and mint your Artwork into Nifties. If you are a Creator, you understand and agree that you are responsible for any Creator Content you submit or contribute, and you, not {{settings.DOMAIN_NAME}}, have full responsibility for such content, including its non-infringement of third party rights, legality, reliability, accuracy, and appropriateness. All Creator Content must comply with these Terms of Use. We are not responsible or liable to any third party for the content, accuracy, or appropriateness of any Creator Content posted by you. You understand and acknowledge that any Creator Content that violates any of {{settings.DOMAIN_NAME}}’s policies may be obfuscated or deleted by {{settings.DOMAIN_NAME}}, in its sole discretion.
        
        Although we are not required to monitor any Creator Content, we may, in our sole discretion, remove Creator Content at any time and for any reason without notice. {{settings.DOMAIN_NAME}} may monitor Creator Content to detect and prevent fraudulent activity or violation of {{settings.DOMAIN_NAME}}’s Terms of Use.
                        </p>
                    </div>

                    <div class="space-y-20 mt-4">
                        <h3>9) Creator Licenses</h3>
                        <p>
                            If you are a Creator, by providing any Creator Content to {{settings.DOMAIN_NAME}}, you grant us and our affiliates and our respective licensees, successors, and assigns the right to use, reproduce, modify, perform, display, distribute, retransmit, publish, broadcast, and otherwise disclose to third parties any such material for the purpose of providing you with the Minting Services.
        
        As a Creator, you hereby grant {{settings.DOMAIN_NAME}} the right to use your name and image for marketing or promotional purposes. You further agree that we may use or modify images from your Creator Content for marketing or promotional purposes. You also agree that we can use your biography and other public information about you to promote your Creator Content.
                        </p>
                    </div>

                    <div class="space-y-20 mt-4">
                        <h3>10) Creator Representations & Warranties</h3>
                        <p>
                            If you are a Creator, you represent and warrant that: (1) you own or have the rights to all of the Creator Content that you post to {{settings.DOMAIN_NAME}}; (2) your Creator Content does not violate these Terms of Use; (3) you have acquired and will retain any third-party rights, licenses, authorizations, consents, permissions and approvals relating to your Creator Content and required for {{settings.DOMAIN_NAME}} to exercise the license granted to it in these Terms of Use; (4) your Creator Content does not incorporate any artwork that is stolen or reproduced and is not designed such that it will create confusion due to its similarity with existing projects; (5) your Creator Content is free of any hate or harmful speech, as determined by {{settings.DOMAIN_NAME}} in its sole discretion; and (6) you will comply with all applicable laws, regulations and industry standards when posting your Creator Content.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
    
{% endblock content %}
    