{% extends 'base.html' %}

{% block bg_hero %}
<div class="mb-50">
    <div class="hero__profile">
        <div class="tabs">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb default mb-0">
                    <li class="breadcrumb-item"><a href="{% url 'users' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Withdrawals</li>
                </ol>
            </nav>
        </div>
        <div class="cover">
            
            <img src="/static/assets/img/bg/cover.jpg" alt="cover">

        </div>
    </div>
</div>
{% endblock bg_hero %}

{% block content %}
<div class="container">
    {% include 'partials/messages.html' %}
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-7 order-md-0 order-1">
            <div class="profile__sidebar">
                <div class="space-y-40">
                    <div class="space-y-10">
                        <h5>Requesting withdrawals</h5>
                        <div class="box space-y-20">
                            <p>
                                Withdrawal attracts charges,There are no maximum withdrawal limits on {{settings.DOMAIN_NAME}} Commerce—you can withdraw all funds at any point.
                            </p>
                            <!-- <div class="row">
                                <div class="col-6">
                                    <span class="txt_sm color_text">Collections</span>
                                    <h4>105</h4>
                                </div>
                                <div class="col-6">
                                    <span class="txt_sm color_text">Creations</span>
                                    <h4>406</h4>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    
                </div>
                <!-- <p class="text-center txt_sm mt-20 color_text">Since 2021</p> -->
            </div>
        </div>
        <div class="col-lg-9 col-md-12 order-md-1 order-0">
            <div class="profile__content">
                <div class="d-flex justify-content-between">
                    <div class="space-x-10">
                        <div class="d-flex justify-content-between">
                            <ul class="nav nav-tabs d-flex space-x-10 mb-30" role="tablist">
                                <li class="nav-item">
                                    <a class="btn btn-white btn-sm active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="true">
                                        Withdraw Funds</a>
                                </li>
                                <li class="nav-item">
                                    <a class="btn btn-white btn-sm" data-toggle="tab" href="#tabs-2" role="tab" aria-selected="false">
                                        Withdrawl History</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <!-- <div class="dropdown d-none d-sm-block">
                                <button class="btn btn-white btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Recent Active
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another
                                        action</a>
                                    <a class="dropdown-item" href="#">Something
                                        else here</a>
                                </div>
                            </div> -->
                        </div>

                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="row mb-30_reset">
                                    <div class="box edit_box col-lg-12 space-y-30 mx-auto">
                                        <div class="row sm:space-y-20">
                                            <div class="col-lg-12 account-info">
                                                
                            
                            
                            
                                                <h3 class="mb-20">Request Withdrawal</h3>
                                                <!-- <p class="text-danger mb-2">Note: Withdrawal will not be submitted until a wallet is selected</p> -->
                                                <p class="text-warning mb-2">Click here to add wallet if none: <a href="{% url 'add-wallet' %}">click here</a></p>
                                                <div class="form-group space-y-10 mb-0">
                                                    <form action="{% url 'withdraw-funds' %}" method="post">
                                                        {% csrf_token %}
                                                        <div class="space-y-40">
                                                            <div class="space-y-10">
                                                                <!-- <span class="nameInput">Select Wallet</span>
                                                                <select name="wallet_name" class="custom-select" required>
                                                                    <option value="">Select wallet for withdrawal</option>
                                                                    
                                                                    {% for mywallet in u_wallets %}
                                                                    <option value="{{mywallet.id}}">{{mywallet.wallet_name}}</option>
                                                                    {% empty %}
                                                                    <a href="">Create one</a>
                                                                    {% endfor %}
                                                                        
                                                                    
                                                                </select> -->
                                                                  
                                                            </div>
                                                            <div class="space-y-10">
                                                                
                                                                <span class="nameInput">Amount</span>
                                                                <input name="amount" id="rePass" type="number" min="0" step="0.01" pattern="^\d*(\.\d{0,2})?$">
                                                                    
                                                            </div>
                                                            
                                
                                                            <button type="submit" class="btn btn-grad">Proceed to withdraw</button>
                                                            <a href="/users/" class="btn btn-dark">Back to Dashboard</a>
                                                            
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="hr"></div>
                                        
                                        <!-- <div><a href="#" class="btn btn-grad">Update Profile</a></div> -->
                                    </div>
                                    
                                    
                                    
                                           
                                    
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="row justify-content-center mb-30_reset">
                                    
                                    {% if transactions %}
                                    <div class="col-lg-12 col-md-6 col-sm-8">
                                        <table class="table table-striped">
                                            <thead>
                                              <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Gas Fee</th>
                                                <th scope="col">Withdraw Date</th>
                                                <th scope="col">Status</th>
                                                <!-- <th scope="col">Handle</th> -->
                                              </tr>
                                            </thead>
                                            <tbody>
                                                
                                                {% for transaction in transactions %}
                                                
                                                <tr>
                                                    
                                                    <td>{{transaction.amount}}</td>
                                                    <td>{{transaction.w_wallet.wallet_name}}</td>
                                                    <td>
                                                        
                                                        {% if transaction.w_gas_fee == 0 %}
                                                        <p class="text-info">Calculating Gas Fee</p>
                                                        {% else %}
    
                                                        {{transaction.w_gas_fee}} ETH
                                                            
                                                        {% endif %}
                                                            
    
                                                    </td>
                                                    <td>{{transaction.created}}</td>
                                                    <td>{{transaction.t_status}}</td>
                                                   
                                                </tr>
                                                {% empty %}
                                                <p class="text-center text-white">No Transactions avaliable</p>
                                                
                                                {% endfor %}
                                                    
                                              
                                            </tbody>
                                          </table>
                                    </div>
                                    {% else %}
                                    <p class="text-danger text-center">No History</p>
                                        
                                    {% endif %}
                                        
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    