{% extends 'base_original.html' %}

{% block bg_hero %}
<div class="mb-50">
    <div class="hero__profile">
        <div class="tabs">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb default mb-0">
                    <li class="breadcrumb-item"><a href="{% url 'users' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Deposit into {{wallet.coin_name}}</li>
                </ol>
            </nav>
        </div>
        <div class="cover">
            
            <img src="/static/assets/img/bg/cover.jpg" alt="cover">

        </div>
    </div>
</div>
{% endblock bg_hero %}
    

{% block content %}
<div class="container">
    <div class="mb-50">
    <div>
        
        <div class="box edit_box col-lg-9 space-y-30 mx-auto">
            <div class="row sm:space-y-20">
                <div class="col-lg-12 account-info">
                    {% include 'partials/messages.html' %}
                    <h3 class="mb-20">Deposit into {{wallet.coin_name}} address</h3>
                    <div class="form-group space-y-10 mb-0">
                        <form action="{% url 'fund-account-details' wallet.id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="space-y-40">
                                <div class="space-y-10">
                                    <span class="nameInput">Address</span>
                                    <div class="input-group mb-3">
                                        <!-- <span class="input-group-text">Wallet Address</span> -->
                                        <input type="text" class="form-control" id="walletAddy" placeholder="Wallet address" value="{{wallet.coin_address}}">
                                        <span type="button" onclick="myFunction()" class="input-group-text" id="basic-addon2">Click to copy</span>
                                    </div>
                                      
                                </div>
                                <div class="space-y-10">
                                    
                                    {% if wallet.coin_qr_code %}
                                    <div class="card-thumbnail text-center">
                                        <img src="{{wallet.coin_qr_code.url}}" width="200" alt="">
                
                                    </div>
                                    {% else %}
                                    <img src="#" alt="QR code">
                                        
                                    {% endif %}
                                        
                                </div>
                                <div class="space-y-10">
                                    <span class="nameInput text-danger">Make sure amount deposited matches the amount you insert</span>
                                    <input type="number" name="amount" placeholder="insert amount deposited" class="form-control" min="0" step="0.01" pattern="^\d*(\.\d{0,2})?$">
    
                                </div>
                                <div class="space-y-10">
                                    <span class="nameInput ">Upload screenshot of payment</span>
                                    </span>
                                    <div class="confirm">
                                        <input name="upload_proof" class="form-control form-control-sm" id="formFileSm" type="file">
                                    </div>
                                </div>
    
                                <button type="submit" class="btn btn-grad">Upload Deposit</button>
                                <a href="{% url 'users' %}" class="btn btn-dark">Back to Dashboard</a>
                                <!-- <div class="space-y-10">
                                    <span class="nameInput">Bio</span>
                                    <textarea style="min-height: 110px" placeholder="Add your bio">			
                                    </textarea>
                                </div> -->
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
            <div class="hr"></div>
            
            <!-- <div><a href="#" class="btn btn-grad">Update Profile</a></div> -->
        </div>
    </div>
</div>

<script>
    function myFunction() {
      // Get the text field
      var copyText = document.getElementById("walletAddy");
    
      // Select the text field
      copyText.select();
      copyText.setSelectionRange(0, 99999); // For mobile devices
    
       // Copy the text inside the text field
      navigator.clipboard.writeText(copyText.value);
    
      // Alert the copied text
      alert("Copied the text: " + copyText.value);
    } 
  </script>
{% endblock content %}
    