{% extends 'base2.html' %}
{% load crispy_forms_tags %}  

{% block content %}
<div class="edit_profile register login">
    <div class="container">
        <div class="row">
            {% include 'partials/messages.html' %}
            <div class="col-lg-7"></div>
            <div class="col-lg-5">
                <div class="right_part space-y-20">
                    <h1 class="color_white"> Password Reset</h1>
                    <!-- <p class="color_white" style="color: white !important">Don't have an account yet? <a href="{% url 'register' %}"> Register </a>
                    </p> -->
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="box edit_box w-full space-y-20">
                            <p>We have sent you reset password link on your email. Please Check Your Email.</p>
                            <span class="text-danger">Note: We will send a password to your email, check spam if you don't see it</span>
                            <!-- <button type="submit" class="btn btn-grad w-full btn-lg mt-3"> Send</button> -->
                            
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    