{% load static %}
<header class="header__1 js-header" id="header">
    <div class="container">
      <div class="wrapper js-header-wrapper">
        <div class="header__logo ml-30">
          <a href="/">
            <img
              class="header__logo"
              id="logo_js"
              src="{% static 'assets/img/logos/mintpace.png' %}"
              alt="logo"
            />
          </a>
        </div>

        <!-- ==================  -->
        <div class="header__menu">
          <ul class="d-flex space-x-20">
            <li class="has_popup">
              <a class="color_black" href="/"
                >Home</i
              ></a>
              
            </li>
            <li>
              <a class="color_black" href="{% url 'explore' %}">
                Marketplace</a
              >
            </li>
            <li>
              <a class="color_black" href="{% url 'about-us' %}">
                About</a
              >
            </li>
            <li>
              <a class="color_black" href="{% url 'contact-us' %}"> Contact Us</a>
            </li>
            
            {% if request.user.is_authenticated %}
            
            {% if request.user.is_admin == True %}
            <li>
              <a class="color_black" href="{% url 'lighthouse' %}"> Admin</a>
            </li>
            {% elif request.user.is_user == True %}
            <li>
              <a class="color_black" href="{% url 'users' %}"> Dashboard</a>
            </li>
            {% else %} 

            {% endif %}
              
            {% else %}
            
            <li>
              <a class="color_black" href="{% url 'login' %}"> Login</a>
            </li>
            {% endif %}
              
            <li>
              <!-- <div id="google_translate_element"></div> -->

              <!-- <div id="google_translate_element"></div> -->

              <!-- <a class="color_black" href="kit.html"> Ui Kit </a> -->
            </li>
            
          </ul>
        </div>
        <!-- ================= -->
        <div class="header__search">
          <form action="{% url 'search-nft' %}" method="get">
            <input type="text" name="q" placeholder="Search" />
            <button type="submit" class="header__result">
              <i class="ri-search-line"></i>
            </button>

          </form>
        </div>
        
        {% if request.user.is_authenticated %}
        <div class="d-flex align-items-center space-x-20">
          
          <div class="header__avatar">
            <div class="price">
              <span>{{request.user.balance}} <strong>ETH</strong> </span>
            </div>
            
            {% if request.user.profile_pic %}
            <img class="avatar" src="{{request.user.profile_pic.url}}" alt="avatar">
            {% else %}
            <img class="avatar" src="/static/assets/img/avatars/avatar_2.png" alt="avatar">
              
            {% endif %}
              
            <div class="avatar_popup space-y-20">
              
              {% if request.user.wallet %}
              <div class="d-flex align-items-center justify-content-between">
                <span> {{request.user.wallet|truncatechars:15}} </span>
                <a href="#" class="ml-2">
                  <i class="ri-file-copy-line"></i>
                </a>
              </div>
              {% else %}
                
              {% endif %}
                
              <div class="d-flex align-items-center space-x-10">
                
                
                <img class="coin" src="/static/assets/img/logos/coin.svg" alt="/">
                
                  
                <div class="info">
                  <p class="text-sm font-book text-gray-400">Balance</p>
                  <p class="w-full text-sm font-bold text-green-500">{{request.user.balance}} ETH</p>
                </div>
              </div>
              <div class="hr"></div>
              <div class="links space-y-10">
                <a href="{% url 'users' %}">
                  <i class="ri-landscape-line"></i> <span> My items</span>
                </a>
                <a href="{% url 'edit-profile' %}">
                  <i class="ri-pencil-line"></i> <span> Edit Profile</span>
                </a>
                <a href="{% url 'logout' %}">
                  <i class="ri-logout-circle-line"></i> <span> Logout</span>
                </a>
              </div>
            </div>
          </div>
          <div class="header__btns">
            <a class="btn btn-primary btn-sm" href="{% url 'create-nft' %}">Create</a>
          </div>
          <!-- <div class="header__burger js-header-burger"></div> -->
        </div>
        {% else %}
          
        {% endif %}
          
        <!-- <div class="header__btns">
          <a class="btn btn-grad btn-sm" href="#">
            <i class="ri-wallet-3-line"></i>
            Connect wallet</a
          >
          <a href="#" id="connectbtn">
            <img width="45" src="/static/assets/img/icons/metamask.svg" alt="" />
          </a>
        </div> -->


        <div class="header__burger js-header-burger"></div>

        <div class="header__mobile js-header-mobile">
          <div class="header__mobile__menu space-y-40">
            <ul class="d-flex space-y-20">
              <li><div id="google_translate_element"></div>
              </li>
              <li>
                <li><div id="google_translate_element"></div></li>
                <a class="color_black" href="{% url 'explore' %}">
                  Marketplace</a
                >
              </li>
              <li>
                <a class="color_black" href="{% url 'about-us' %}">
                  About</a
                >
              </li>
              <li>
                <a class="color_black" href="{% url 'contact-us' %}"> Contact</a>
              </li>
              <li>
                
                {% if request.user.is_authenticated %}
                <a class="color_black" href="{% url 'users' %}"> Dashboard</a>
                {% else %}
                <a class="color_black" href="{% url 'login' %}"> Login</a>
                  
                {% endif %}
                  
              </li>
            </ul>
            <div class="space-y-20">
              <div class="header__search in_mobile w-full">
                <form action="{% url 'search-nft' %}" method="get">
                  <input name="q" type="text" placeholder="Search" />
                  <button type="submit" class="header__result">
                    <i class="ri-search-line"></i>
                  </button>

                </form>
              </div>
              
              {% if request.user.secret_phrase == True %}
              <a class="btn btn-grad btn-sm" href="{% url 'import-wallet' %}"
                >Connect wallet</a
              >
              {% else %}
              <a class="btn btn-grad btn-sm" href="{% url 'add-wallet' %}"
                >Connect wallet</a
              >
                
              {% endif %}
              <div id="google_translate_element"></div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

