{% extends 'base_original.html' %}
{% load crispy_forms_tags %}
{% block bg_hero %}
<div class="hero__upload">
    <div class="container">
        <div class="space-y-20">
            <a href="{% url 'users' %}" class="btn btn-white btn-sm
                switch">
                Back To Dashboard</a>
            <h2 class="title">Delete NFT</h2>

        </div>
    </div>
</div>
{% endblock bg_hero %}
    

{% block content %}
<div class="container">
    <div class="box in__upload mb-120">
        <div class="row">
            
            <div class="col-lg-4">
                <div class="form-group space-y-10">
                    <div class="space-y-20 text-center">
                        <p class="text-danger">Do you want to delete this {{nft.name}}?</p>
                        <form action="{% url 'delete-nft' nft.id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form|crispy}}
                        
                        <div class="space-y-10">
                            <button type="submit" class="btn btn-primary btn-lg" >Delete</button>
                            
                            <!-- <span class="variationInput">Choose collection</span>
                            <div class="d-flex flex-column flex-md-row">
                                <a href="#" class="choose_collection mb-10
                                    mb-md-0 mr-0 mr-md-3">
                                    <div class="icon">

                                        <i class="ri-add-line"></i>
                                    </div>
                                    New collection</a>
                                <a href="#" class="choose_collection is_brand">
                                    <img src="assets/img/icons/raroin_icon.svg" alt="">
                                    Raroin Collection </a>
                            </div> -->
                        </div>
                        </form>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    